@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* scrollbar */
.scroll-div-exts-clients {
  width: 100%;
  height: 200px;
  overflow: hidden;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 6px;
  height: 4px;
  border-radius: 1px solid grey;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 6px;
}
